.mainTxt{
  font-size: 33px ;
  font:Pretendard;
  text-align: center;
}
.utilArea{
  text-align: center;
}
.ZHAOPIAN{
  text-align: center;
}
.titaos-initaos-animate{
  text-align: center;
}